<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fluctuatenotice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FluctuateNotice"
        tools:targetApi="31">
        <activity
            android:name="com.example.fluctuatenotice.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fluctuatenotice.ListView_PrefSetting"
            android:parentActivityName="com.example.fluctuatenotice.MainActivity"
            android:exported="false" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fluctuatenotice.MainActivity" />
        </activity>
        <activity
            android:name="com.example.fluctuatenotice.ListView_TimeSetting"
            android:parentActivityName="com.example.fluctuatenotice.MainActivity"
            android:exported="false" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fluctuatenotice.MainActivity" />
        </activity>

        <activity
            android:name="com.example.fluctuatenotice.handlers.NotificationActivity"
            android:excludeFromRecents="true"
            android:label="@string/notification_title"
            android:taskAffinity=".MainActivity" >
        </activity>

    </application>

</manifest>